/* table,
th,
td{
    border: 1px solid black;
    border-collapse: collapse;
} */

table {
    /* width: 100%; */
    table-layout: fixed;
}

#blur {
    -webkit-filter: blur(5px);
    /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

img {
    border-radius: 5%;
}

.image img {
    display: block;
}


a {
    text-decoration: none;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

body>table>tbody>tr:nth-child(2)>td:nth-child(3)>a>img {
    border-radius: 50%;
}

#googleLogo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 20px;
}

[target="_blank"] {
    text-decoration: line-through;
}