table,
tr,
td {
    border: 0px;
    border-collapse: collapse;
}
table{
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

#profile {
    width: 200px;
    border-radius: 50px;
}

body {
    font-family: Proxima Nova, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

#CamtLogo {
    width: 100px;
    display: inline;
}

#CamtHeader {
    display: inline;
}

.item1 {
    vertical-align: middle;
}

#preImg {
    display: inline-block;
    margin: 20px;
}

#preImg img {
    width: 200px;
    height: 200px;
}

#SpeImg {
    display: inline-block;
    margin: 20px;
}

#SpeImg img {
    width: 200px;
    height: 200px;
}


#profile-box {
    text-align: center;
}

#menu1,
#menu2,
#menu3,
#menu4 {
    display: inline;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#menu1:hover,
#menu2:hover,
#menu3:hover,
#menu4:hover {
    color: greenyellow;
    cursor: pointer;
}

#menu {
    text-align: right;
}

#coverIMG {
    background-image: url("assets/image/camt-bg.jpg");
    background-position: center;
    text-align: center;
    color: ivory;
    height: 350px;
}

#Preference-header {
    text-align: center;
    margin-top: 10px;
}

#History-header {
    text-align: center;
}

#Speciality-header {
    text-align: center;
}

#Firstname,
#Surname {
    background-color: lawngreen;
}

#Surname {
    margin-left: 100px;
}

#Firstname{
    margin-right: 100px;
}


#Preference {
    text-align: center;
}

#Preference p {
    font-weight: bold;
}

#HistoryImg1 {
    display: inline-block;
    margin: 20px 20px 20px 100px;
}

#HistoryImg1 img {
    width: 200px;
    height: 200px;
    margin-left: 200px;
}


#HistoryImg2 img {
    width: 200px;
    height: 200px;
   margin: 20px ;

}

body > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(9) > td:nth-child(1) > p:nth-child(1){
    margin-left: 200px;
}
body > table > tbody > tr:nth-child(8) > td:nth-child(2) > p{
    font-weight: bold;
}
body > table > tbody > tr:nth-child(9) > td:nth-child(1) > p{
    font-weight: bold;
}
body > table > tbody > tr:nth-child(10) > td:nth-child(2) > p{
    font-weight: bold;
}

#bio{
    background-color: #e5e7ea;
}
#history{
    background-color: #e5e7ea;
    color: black;
}
body > table > tbody > tr:nth-child(8),
body > table > tbody > tr:nth-child(9),
body > table > tbody > tr:nth-child(10){
    background-color:  #e5e7ea;
    color: black;
}
#bio > td:nth-child(2) > h2{
    text-align: center;
}
body > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(2) > h2:nth-child(1){
    margin-top: 30px;
}
body > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(11){
    text-align: center;
}