/* table,
tr,
td{
    
    margin: 100px;
} */

table {
    width: 200px;
    height: 200px;
    table-layout: fixed;
}

img.blur {
    -webkit-filter: blur(5px);
    /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

img.rounded {
    border-radius: 8px;
}

.image img {
    display: block;
}

.synopsis {
    color: #7e8184;
    font-style: italic;
}

.button {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    widows: 200px;
    margin: auto;
}

.page {
    width: 600px;
    margin: 0 auto;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.grey {
    background-color: grey;
}

a {
    text-decoration: none;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

.onHover:hover {
    cursor: pointer;
}

.onWaiting:hover {
    cursor: none;
}

.onClick:active {
    cursor: wait;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}